@{
    ViewData["Title"] = "Home Page";
}

@model BookListViewModel



<div class="container">
    <div class="row row-fluid ">
        <!--Loop to create a card for each Book from the database-->
        @foreach (var x in Model.Books)
        {
            <partial name="BookSummary" model="x"/>
        }
    </div>
</div>
<div class="text-center">
    <!-- Custom button functionality -->
    <div page-model="@Model.PagingInfo"
         page-action="Index"
         page-classes-enabled="true"
         page-class="btn"
         page-class-normal="btn-outline-dark"
         page-class-selected="btn-primary"
         page-url-category="@Model.CurrentCategory"
         class="btn-group m-1">
    </div>
</div>
